
@import "tailwindcss";

@theme {
  
  --color-primary: #2563eb;    
  --color-secondary: #1e293b;  
  --color-accent: #f59e0b;     
}


body {
  direction: rtl; 
  @apply bg-slate-50 text-slate-900 font-sans;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}


.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}